.form {
    width: 100%;
    max-width: 300px;
    background-color: whitesmoke;
    padding: 2em 1.5em 2.5em;
    border-radius: 0.8em;
    position: relative;
}
.form__x {
    position: absolute;
    top: 0.7em;
    right: 1.2em;
    cursor: pointer;
    font-size: 1.2rem;
}
.form__x:hover {
    transform: scale(1.4);
    color: rgb(180, 7, 7);
}

.form__title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.form__label {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 1em;
}

.form__field__name {
    font-size: 0.9rem;
    font-weight: 300;
    padding-left: 1.5em;
}

.form__field {
    padding: 0.3em 1em;
    background-color: rgb(221, 213, 213);
    border: 1px solid #aaa5;
    font-weight: 300;
    color: #555;

}

.form__btn {
    margin-top: 1em;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 0.5em 0;
    background-color: #555a88;
    color: wheat;
    border-radius: 0.5em;
}

.form__btn:hover {
    filter: brightness(1.2);

}

::placeholder {
    color: rgb(91, 91, 255);
    font-size: inherit;
    font-style: italic;
  }